---
layout: default
published: true
---

<div class="posts">
  <h2>Posts:</h2>
  {% for post in site.posts %}
   <article class="post">
	<ul class="post-list">
      <li>
      	<b>
          <font size = ><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></font>
        </b>
      	<div class="entry">
      	  {{ post.excerpt }}
      	</div>
      	<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        <br>
        <b><font size = 4 face = "italic">{{ post.date | date: "%B %e, %Y" }}</font></b>
       </li>
     </ul>
    </article>
  {% endfor %}
  <h2>Projects:</h2>
  {% for project in site.projects %}
  	<article class="projects">
    	<ul class="project-list">
      		<li>
      			<h3><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h3>
	
      			<div class="entry">
      	  		{{ post.excerpt }}
      			</div>
	
      			<a href="{{ site.baseurl }}{{ project.url }}" class="read-more">Read More</a>
       		</li>
     	</ul>
  	</article>
  {% endfor %}
</div>
